<div class="border-box full-width p3 center white bg-cover">
    <div class="height-184">
        <div class="inline-block scale-8">🌝 </div>
    </div>
    <h1 class="mt2 mb1 text-shadow" style="font-size:10vw">{{ title1 }}<span class="yellow">{{ title2 }}</span>{{ title3 }}</h1>
    <p class="mb3" style="font-size:4vw">{{ subtitle }} <a href="/#/permalink?bg=http:%2F%2Fmedia.giphy.com%2Fmedia%2FJWCahAf61Z43e%2Fgiphy.gif&emoji=%F0%9F%98%8E&quote=techCrunchDisrupt&song=http:%2F%2Fwww.youtube.com%2Fembed%2F0Wi8Fv0AJA4">this</a></p>
    <a class="p2 button h3 bg-olive" ui-sref="wizard">{{ buttonText }}</a>
</div>
