<button class="button-transparent" ng-hide="wizardSection===0" ng-click="sectionChange('previous')">&lsaquo;</button>

<div ng-show="wizardSection===0">
    <h1 class="px2">Choose a background</h1>
    <ul class="list-reset mb0">
        <li class="border pointer" ng-class="{'is-selected':selections[0].selectionNumber===background.id}" style="margin-top:-1px" ng-repeat="background in backgrounds" ng-click="choose('0',background.id)"><img class="full-width" style="max-height:200px;vertical-align:top;object-fit:cover" src="{{background.url}}"></li>
    </ul>
    <div class="p2">
        <button class="full-width block button" ng-click="sectionChange('next')">Next section</button>
    </div>
</div>

<div ng-show="wizardSection===1">
    <h1 class="px2">Choose a emoji</h1>
    <ul class="list-reset">
        <li class="border pointer center" ng-class="{'is-selected':selections[1].selectionNumber===emoji.id}" ng-repeat="emoji in emojis" ng-click="choose('1',emoji.id)"><div style="font-size:128px">{{emoji.text}}</div></li>
    </ul>
    <div class="p2">
        <button class="full-width block button" ng-click="sectionChange('next')">Next section</button>
    </div>
</div>

<div ng-show="wizardSection===2">
    <h1 class="px2">Choose a music</h1>
    <ul class="list-reset">    
         <li class="border p3 pointer center h2" ng-class="{'is-selected':selections[2].selectionNumber===song.id}" ng-repeat="song in songs" ng-click="choose('2',song.id)"><div>{{song.url}}</div></li>
    </ul>
    <div class="p2">
        <button class="button" ng-click="sectionChange('next')">Next section</button>
    </div>
</div>

<div ng-show="wizardSection===3">
    <h1 class="px2">Choose a quote</h1>
    <ul class="list-reset">    
         <li class="border p3 pointer center h2" ng-class="{'is-selected':selections[3].selectionNumber===quote.id}" ng-repeat="quote in quotes" ng-click="choose('3',quote.id)"><div>{{quote.text}}</div></li>
    </ul>
    <div class="p2">
        <button class="button" ng-click="finish()">Finish</button>
    </div>
</div>

<div hidden>Background: {{selections[0].selectionNumber}}</div>
<div hidden>Emoji: {{selections[1].selectionNumber}}</div>
<div hidden>Music: {{selections[2].selectionNumber}}</div>
<div hidden>Quote: {{selections[3].selectionNumber}}</div>
