<button class="button" ng-hide="wizardSection===0" ng-click="sectionChange('previous')">Previous Section</button>

<div ng-show="wizardSection===0">
    <h1>Choose Your Background</h1>
    <ul>
        <li ng-class="{'is-selected':selections[0].selectionNumber===background.id}" ng-repeat="background in backgrounds" ng-click="choose('0',background.id)"><img src="{{background.url}}"/></li>
    </ul>
    <button class="button" ng-click="sectionChange('next')">Next Section</button>
</div>

<div ng-show="wizardSection===1">
    <h1>Choose Your Emoji</h1>
    <ul>
        <li ng-class="{'is-selected':selections[1].selectionNumber===background.id}" ng-repeat="emoji in emojis" ng-click="choose('1',emoji.id)"><div>{{emoji.text}}</div></li>
    </ul>
    <button class="button" ng-click="sectionChange('next')">Next Section</button>
</div>

<div ng-show="wizardSection===2">
    <h1>Choose Your Music</h1>
    <ul>    
         <li ng-class="{'is-selected':selections[2].selectionNumber===background.id}" ng-repeat="song in songs" ng-click="choose('2',song.id)"><div>{{song.url}}</div></li>
    </ul>
    <button class="button" ng-click="sectionChange('next')">Next Section</button>
</div>

<div ng-show="wizardSection===3">
    <h1>Choose Your Quote</h1>
    <ul>    
         <li ng-class="{'is-selected':selections[3].selectionNumber===background.id}" ng-repeat="quote in quotes" ng-click="choose('3',quote.id)"><div>{{quote.text}}</div></li>
    </ul>
    <a class="button" ui-sref="permalink/emoji">Finish</a>
</div>

<div>Background: {{selections[0].selectionNumber}}</div>
<div>Emoji: {{selections[1].selectionNumber}}</div>
<div>Music: {{selections[2].selectionNumber}}</div>
<div>Quote: {{selections[3].selectionNumber}}</div>