<div class="height-inherit border-box full-width p3 center white bg-cover" style="background-image:url({{ page.bg }})">
    <div class="height-184">
        <div class="inline-block scale-8">{{ page.emoji }}</div>
    </div>
    <h1 class="text-shadow mt2 mb1" style="font-size:10vw">{{ page.quote }}</h1>
    <div>
        <a class="p2 button button-outline h3" ui-sref="wizard">Create another?</a>
    </div>
    <div class="border-box full-width p2 fixed bottom-0 left-0" style="color:rgba(255, 255, 255, 0.6)">
        <label for="link">Share this link</label>
        <input class="full-width field-light gray" id="link" style="border-color:rgba(255, 255, 255, 0.6);background-color:transparent" type="text" value="{{ page.url }}"></a>
    </div>
    <div my-youtube url="{{page.song}}?autoplay=1"></div>
</div>
