@import 'normalize';
@import 'basscss';

.full-height { height: 100% }
.height-inherit { height: inherit }

.emoji {
    transform: scale(5);
    display: inline-block;
    -webkit-transform: scale(5); 
    position: absolute;
}
