@import 'normalize';
@import 'basscss';

h1, h2, h3, h4, h5, h6,
.font-family-inherit { font-family: inherit }
.bold { font-weight: 600 }
.full-height { height: 100% }
.height-inherit { height: inherit }
.height-184 { height: 184px }
.sans-serif { font-family: "Avenir Next", sans-serif }
.button { font-weight: 600 }
.color-inherit { color: inherit }
.background-color-inherit { background-color: inherit }
.logo { font-weight: 200 }
.pointer { cursor: pointer }
.border-box { box-sizing: border-box }
.text-shadow { text-shadow: 0 0 6px rgba(0, 0, 0, .5) }
.is-selected { border-color: #fff }

.scale-8 {
    -webkit-transform: scale(8);
    -ms-transform: scale(8);
    transform: scale(8);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

@media (min-width: 1023px) {
    .lg-left { float: left }
}

.progress {
    margin: 0;
    border-radius: 0;
    background: rgba(255,255,255,.5);
    height: 4px;
}

.slideIn {
  transition:all .1s;
}

.slideIn.ng-hide-remove {
  margin-bottom: -60px;
}

.slideIn.ng-hide-add {
  margin-bottom: 0px;
}
